body {
    background-color: aqua;
}
#login {
    display: flex;
    justify-content: space-evenly;
}
#headerDiv {
    padding: 20px;
}
h1, h2{
    background-color: aquamarine;
    display: inline;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
h2 {
    margin-bottom: 2.5%;
}
legend, fieldset, button, #betContainer > div, #cardSubScreen > div, #cardsPlayed > div {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: aquamarine;
}
button {
    height: 30px;
    width: 80px;
    padding: 0%;
}
#createAccountButton, #signinButton {
    background-color: white;
    margin-top: 3%;
}
#homeScreen {
    text-align: center;
}
#anon {
    width: 100px;
    height: 50px;
}

/*Play Screen*/
#welcomeDiv {
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    text-align: center;
}
#dealerDiv {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    width: 20%;
    height: 20%;
}
#dealerImg {
    height: auto;
    width: 100%;
    border-style: solid;
    border-width: 3px;
}
#moneyDiv, #subPlayScreen {
    text-align: center;
}
#UIDiv {
    display: flex;
    justify-content: space-evenly;
}
#betContainer, #cardSubScreen, #cardsPlayed {
    display: flex;
    justify-content: center;
    font-size: 15pt;
}
#playerScore {
    font-weight: bold;
}
table, #tableRows{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}